build/
gs.key
gs.key.pub
output/
!example/output
init.sh
keywords.import

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.idea
*.lnk
.DS_Store